# auth-service

PORT_AUTH_SERVICE=8001
MASTER_KEY_AUTH_SERVICE=auth_master_key

# auth-service-database

POSTGRES_USER_AUTH_SERVICE=auth_user
POSTGRES_PASSWORD_AUTH_SERVICE=auth_password
POSTGRES_DB_AUTH_SERVICE=auth_db
POSTGRES_HOST=auth-db
POSTGRES_PORT=5432

# flag-service

PORT_FLAG_SERVICE=8002
PORT_TARGETING_SERVICE=8003

# toggle-db (Shared between flag-service and targeting-service)

POSTGRES_USER_TOGGLE_DB=toggle_user
POSTGRES_PASSWORD_TOGGLE_DB=toggle_password
POSTGRES_DB_TOGGLE_DB=toggle_db

# evaluation-service

PORT_EVALUATION_SERVICE=8004
EVALUATION_SERVICE_API_KEY=eval_api_key

# evaluation-service-analytics (LocalStack SQS/DynamoDB)
AWS_REGION=us-east-1
AWS_SQS_URL=http://localstack:4566/queue/us-east-1/000000000000/evaluation-events
AWS_DYNAMODB_TABLE=analytics-events
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localstack:4566

# analytics-service
PORT_ANALYTICS_SERVICE=8005
