# auth-service

PORT_AUTH_SERVICE=8001
MASTER_KEY_AUTH_SERVICE=super-secret-key

# auth-service-database

POSTGRES_USER_AUTH_SERVICE=auth_user
POSTGRES_PASSWORD_AUTH_SERVICE=auth_password
POSTGRES_DB_AUTH_SERVICE=auth_db
POSTGRES_HOST=auth-db
POSTGRES_PORT=5432

# flag-service

PORT_FLAG_SERVICE=8002

# flag-service-database

POSTGRES_USER_FLAG_SERVICE=flag_user
POSTGRES_PASSWORD_FLAG_SERVICE=flag_password
POSTGRES_DB_FLAG_SERVICE=flag_db

# targeting-service

PORT_TARGETING_SERVICE=8003

# targeting-service-database

POSTGRES_USER_TARGETING_SERVICE=targeting_user
POSTGRES_PASSWORD_TARGETING_SERVICE=targeting_password
POSTGRES_DB_TARGETING_SERVICE=targeting_db

# evaluation-service

PORT_EVALUATION_SERVICE=8004
EVALUATION_SERVICE_API_KEY=tm_key_local_evaluation_service_fixed_key_123

# evaluation-service-analytics (LocalStack SQS/DynamoDB)
AWS_REGION=us-east-1
AWS_SQS_URL=http://localstack:4566/queue/us-east-1/000000000000/evaluation-events
AWS_DYNAMODB_TABLE=evaluation-events-table
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localstack:4566

# analytics-service
PORT_ANALYTICS_SERVICE=8005
